*{
	margin: 0;
	padding: 0;
}
body{
	background: #4070f4;
	align-items: center;
	display: flex;
	justify-content: center;
	height: 90vh;
	font-family: sans-serif;

}
.container {
	position: relative;
	margin-top: 100px;
	width: 370px;
	height: auto;
	background: #fff;
	border-radius: 5px;
}
.label {
	padding: 20px 115px;
	width: 40%;
	font-size: 25px;
	font-weight: bold;
	color: #000;
}
.login_form {
	padding: 20px 40px;
}
.login_form .font 
{
	font-size: 18px;
	color: #130f40;
	margin: 5px 0;
}
.login_form input
{
	height: 40px;
	width: 280px;
	padding: 0 5px;
	font-size: 18px;
	outline: none;
	border: 1px solid silver;
	border-radius: 5px;
}
.login_form .font2
{
	margin-top: 30px;
}
.login_form button
{
	margin: 45px 0 30px 10px;
	height: 45px;
	width: 270px;
	font-size: 20px;
	color: #fff;
	outline: none;
	background: #4070f4;
	cursor: pointer;
	font-weight: bold;
	border-radius: 3px;
	border: 1px solid #3949AB;
	transition: .5s;

}
.login_form button:hover
{
	background: #3d4cf5;
}
.login_form #email_error,
.login_form #pass_error
{
	margin-top: 5px;
	width: 280px;
	font-size: 18px;
	color: red;
	text-align: center;
	padding: 5px 8px;
	display: none;

}
